-#<div ng-init="title = 'danny'" right-click="title = 'moshe'; ">
-#{{title}}
-#</div>
<div ng-controller="MainController as mainCtrl ">
<div ng-include="'views/panel.html'"></div>
<div ng-show="mainCtrl.board"; ng-include="'views/game.html'"></div>
<div ng-show="mainCtrl.board"; ng-include="'views/state.html'"></div>
</div>